* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.Container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 60vh;
}
.appleContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 1rem;
  gap: 1rem;
}
.appleContainer button {
  padding-inline: 0.5543rem;
  padding-block: 0.1rem;
}
